---
layout: default
title: Инструменты развития
date: 2019-11-29 00:00
permalink: /growth-tools/
---
<h2>Инструменты развития</h2>

<img src="/images/posts/tools-cover-main.png">

<p>В этой серии заметок я расскажу о философии, которой стараюсь придерживаться в&nbsp;жизни. В&nbsp;её&nbsp;основе лежат принципы, системность и анализ причинно-следственных связей. Также покажу инструменты, которые помогаю мне принимать решения, бороться с&nbsp;привычками и расти над&nbsp;собой.</p>

<p><b>Содержание:</b></p>

	<ol>
	<li><a href="/growth-tools/adventure/">Зов приключений</a></li>
  <li><i>скоро</i></li>
  <!------------
  	<li><a href="/growth-tools/more/">Список литературы и копирайты</a></li>
	<li><a href="/growth-tools/hunting/">Охота на баги</a></li>
	<li><a href="/growth-tools/mechanisms/">Механизм, архитектор</a></li>
----------->
	</ol>
<br>

<p> P.S.: О выходе новых статей я пишу <a href="https://t.me/k_demons">в Telegram-канале</a>. Подписывайтесь, чтобы не пропустить!</p>

 <!--- Sharing icons---->
{% if site.show_sharing_icons %}
    {% include share_buttons.html %}
{% endif %}

<!--- Meta: date, categories ---->
<div>
  <span class="post-meta">
    <small>
      {{ page.date | date: site.date_format }}
    </small>
  </span>
</div>