/* skills */
.skill {
  display:flex;
  margin-top:2rem;
}

.skill .skill_about {
  padding-left:2rem
}

.skill .skill_about h4 {
  margin: 0 0 2rem;
  font-style: inherit;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5
}

.skill .skill_cover_container {
  width:150px;
  margin-top:0.25rem;
  flex:0 0 150px;
}

.skill .skill_cover_container .skill_cover {
  width:100%;
  height:auto
}

.skill .skill_name {
  line-height:1.25;
  font-size: 1.1rem;
}

.skill .skill_description {
  display: block;
  line-height: 1.5;
  margin-bottom:1rem; 
  color: rgba(48, 49, 51, .6);
}

.skill .skill_links {
  display: block;
  line-height: 1.5;
  margin-top:0.5rem;
  margin-bottom:1rem;
  font-size: 0.9rem;
}
