table {
    empty-cells: show;
    border-spacing: 1px;
    text-align: left;
    margin-bottom: 1.25rem;
	border-collapse: collapse;
}

td, th {
  padding: 5px;
  padding-right: 20px;
  vertical-align: top;
  border: 1px solid;
}