---
layout: default
title: Мастерская разговорного дизайнера
permalink: /vui/
---
<h2>Мастерская разговорного дизайнера</h2>

<div class="post p0 p-responsive wrap intro-tw">
   <div class="clearfix mt2">
<!--Начало столбца -->
      <div class="sm-col sm-col-12 md-col-6">
      <h4>Инструменты</h4>
	<a href="/vui/drakon/">ДРАКОН-схемы</a><br>
        <a href="/vui/dtc/">Карточки ситуаций</a><br>
  	<a href="/vui/text/">Спецификация</a><br>  
      </div>
<!--Конец столбца -->

<!--Начало столбца -->
      <div class="sm-col sm-col-12 md-col-6">
      <h4>Принципы</h4>
	<a href="/vui/innovation/">Инновационность</a><br> 

 
      </div>
<!--Конец столбца -->
    </div>
 <br>

   <div class="clearfix mt2">
<!--Начало столбца -->
      <div class="sm-col sm-col-12 md-col-6">
      <h4>Кейсы</h4>
        <a href="/vui/auth_code/">Озвучивание кода на колонке</a><br> 
      </div>
<!--Конец столбца -->
    </div>
 <br>
</div>


 <!--- Sharing icons---->
{% if site.show_sharing_icons %}
    {% include share_buttons.html %}
{% endif %}
