---
layout: default
title: Мастерская разговорного дизайнера
permalink: /vui/
---
<h2>Мастерская разговорного дизайнера</h2>

<div class="post p0 p-responsive wrap intro-tw">
   <div class="clearfix mt2">
<!--Начало столбца -->
      <div class="sm-col sm-col-12 md-col-6">
      <h4>Инструменты</h4>
	    <a href="/vui/drakon/">ДРАКОН-схемы</a><br>
        <a href="/vui/dtc/">Карточки ситуаций</a><br>
  	    <a href="/vui/spec/">Спецификация</a><br>
        <a href="/vui/gpt/">Промпты для ChatGPT</a><br>         
      </div>
<!--Конец столбца -->

<!--Начало столбца -->
      <div class="sm-col sm-col-12 md-col-6">
      <h4>Принципы</h4>
	<a href="/vui/innovation/">Инновационность</a><br> 
	<a href="/vui/human-centred/">Ориентация на пользователя</a><br> 
	<a href="/vui/goal-orientated/">Ориентация на цели</a><br> 
	<a href="/vui/safety/">Безопасность</a><br> 
	<a href="/vui/personalization/">Персонализация</a><br>
 
      </div>
<!--Конец столбца -->
    </div>
 <br>

   <div class="clearfix mt2">
<!--Начало столбца -->
      <div class="sm-col sm-col-12 md-col-6">
      <h4>Кейсы</h4>
        <a href="/vui/auth_code/">Озвучить длинный код</a> <small>(колонки)</small><br> 
        <a href="/vui/policy/">Запросить номер полиса</a> <small>(телефонный бот)</small><br> 
      </div>
<!--Конец столбца -->
    </div>
 <br>
</div>


 <!--- Sharing icons---->
{% if site.show_sharing_icons %}
    {% include share_buttons.html %}
{% endif %}
