---
layout: default
title: Простые финансы
date: 2016-01-11 00:00
permalink: /finance-zen/
---
<h2>Простые финансы</h2>

<img src="/images/posts/FZ-cover-main.jpg">

<p>В 2015 году мы с женой решили накопить на квартиру. За три года собрали 600 000 рублей и взяли ипотеку, сразу оплатив половину стоимости. Ипотечной кабалы не ощущаем, т. к. платим банку меньше, чем платили бы за аренду.</p>

<p>Несмотря на средние доходы, мы не живем от зарплаты до зарплаты, полноценно питаемся и откладываем часть средств на будущее. В этом нам помогает грамотное ведение бюджета.</p>

<p>Чтобы не заморачиваться с подсчетами, мы решили упростить всё настолько, насколько возможно. В итоге получилась система, которая всё делает сама: считает расходы, распределяет средства и оплачивает счета. В её основе лежат автоплатежи и приложение для учета финансов. На поддержание системы уходит всего пара минут в день. </p>

<p>Если хотите так же — держите инструкции:</p>

	<ol>
	<li><a href="/finance-zen/structure/">Структура и командная работа</a></li>
	<li><a href="/finance-zen/planning/">Учет и планирование</a></li>
	<li><a href="/finance-zen/safe/">Безопасность и накопления</a></li>
	<li><a href="/finance-zen/automatic/">Автоматизация</a></li>
	<li><a href="/finance-zen/summary/">Резюме</a></li>
	</ol>
<br>
	
<p>P.S.</p>

<p>У любой системы есть границы применимости. Мне хотелось придумать лайфхак, который помогал бы людям с маленькими зарплатами и серьезными долгами. Не получилось. Чтобы что-то оптимизировать и улучшать, нужно что-то иметь в начале. А для этого нужно выйти хотя бы на средний уровень дохода. Я не силен в этом вопросе, поэтому просто дам ссылку на статью из Т-Ж: <a href="https://journal.tinkoff.ru/thedeal/">Как поднять себе зарплату</a>.</p>

 <!--- Sharing icons---->
{% if site.show_sharing_icons %}
    {% include share_buttons.html %}
{% endif %}

<!--- Meta: date, categories ---->
<div>
  <span class="post-meta">
    <small>
      {{ page.date | date: site.date_format }}
    </small>
  </span>
</div>