---
layout: default-blog
title: Блог Кирилла Богатова
permalink: /blog/
---
<small>Как показывать: <b>группами</b> / <a href="/blog/feed/">лентой</a></small>

<div class="post p0 p-responsive wrap intro-tw">
   <div class="clearfix mt2">
<!--Начало столбца -->
      <div class="sm-col sm-col-12 md-col-6">
      <h4>Главное</h4>
<!--
        <img src="/images/posts/tools-cover-main.png" width="320" alt="Инструменты развития"><br>
        <a href="/growth-tools/">Инструменты развития</a><br>
        <br>
-->
        <img src="/images/posts/FZ-cover-main.jpg" width="320" alt="Простые финансы"><br>
        <a href="/finance-zen/">Простые финансы</a><br>
        <br>   
             
        <img src="/images/posts/wumpus-cover-main.jpg" width="320" alt="Охота на Вампуса"><br>
        <a href="/vui/wumpus/">Игра «Охота на Вампуса»</a><br>
      </div>
<!--Конец столбца -->
<!--Начало столбца -->
      <div class="sm-col sm-col-12 md-col-6">
      <h4>Прочие статьи</h4>
      <ul>
      <li><a href="/blog/low-power/">Как работать, когда не можешь сосредоточиться</a></li> 
      <li><a href="/blog/problems-to-tasks/">Проблемы → задачи</a></li>
      <li><a href="/blog/charity/">Благотворительность вместо сувениров</a></li>
      <li><a href="/blog/icebergs-and-fogs/">Как не утонуть в рутине</a></li>
    </ul>
<!--
      <h4>Рекомендую</h4>
      <ul>
        <li><img src="/images/music.png" width="16"> <a href="/playlists/">Плейлисты</a></li>
      </ul>
-->
     </div>
<!--Конец столбца -->
    </div>
 <br>
</div>
<br>
<small>Связаться со мной: <a href="https://t.me/krl_bogatov" target="_blank">Telegram</a> · <a href="mailto:bogatov.ks@gmail.com">bogatov.ks@gmail.com</a></small>


 <!--- Sharing icons---->
{% if site.show_sharing_icons %}
    {% include share_buttons.html %}
{% endif %}
