---
layout: default-tw
title: Блог Кирилла
permalink: /blog/
---
<p>Заметки на разные темы.</p>

<div class="post p0 p-responsive wrap intro-tw">
   <div class="clearfix mt2">
<!--Начало столбца -->
      <div class="sm-col sm-col-12 md-col-6">
      <h4>Циклы</h4>
  			<a href="/finance-zen/">Простые финансы</a> — цикл об упрощении и автоматизации<br>
      </div>
<!--Конец столбца -->
</div>
<br>
<!--Начало столбца -->
      <div class="sm-col sm-col-12 md-col-6">
      </div>
<!--Конец столбца -->

<!--Начало столбца -->
      <h4>Другие заметки</h4>
      <div class="sm-col sm-col-12 md-col-6">
			<a href="/blog/charity/">Благотворительность вместо сувениров</a><br> 
 			<a href="/blog/icebergs-and-fogs/">Как не утонуть в рутине</a><br> 
      </div>
<!--Конец столбца -->
    </div>
 <br>

 <!--- Sharing icons---->
{% if site.show_sharing_icons %}
    {% include share_buttons.html %}
{% endif %}
