---
layout: default-design
title: Справочник дизайнера
permalink: /design/
---
<p></p>

<div class="post p0 p-responsive wrap intro-tw">
   <div class="clearfix mt2">
<!--Начало столбца -->
      <div class="sm-col sm-col-12 md-col-6">
      <h4>Композиция</h4>
  			<a href="/tw/id-and-uid/">ID и UID</a><br>
      </div>
<!--Конец столбца -->
    </div>
 <br>

   <div class="clearfix mt2">
<!--Начало столбца -->
      <div class="sm-col sm-col-12 md-col-6">
      <h4>Цвет</h4>
        <a href="/design/color-palette/">Палитры</a><br> 
      </div>
<!--Конец столбца -->
    </div>
 <br>
 
  <div class="clearfix mt2">
<!--Начало столбца -->
 <div class="sm-col sm-col-12 md-col-6">
      	<h4>Типографика</h4>
  			<a href="/design/text-size/">Размеры текста</a> <br>
        <a href="/design/font-pairs/">Шрифтовые пары</a> <br>
      </div>
<!--Конец столбца -->
    </div>
 <br>
</div>

 <!--- Sharing icons---->
{% if site.show_sharing_icons %}
    {% include share_buttons.html %}
{% endif %}
