---
layout: default-tw
title: Справочник техписа
permalink: /tw/
---
<p>Заметки о документировании и редактуре.</p>

<div class="post p0 p-responsive wrap intro-tw">
   <div class="clearfix mt2">
<!--Начало столбца -->
      <div class="sm-col sm-col-12 md-col-6">
      <h4>Слова</h4>
  			<a href="/tw/id-and-uid/">ID и UID</a><br>
        <a href="/tw/login/">Login и Log in</a><br>
  			<a href="/tw/web-browser/">Браузер и веб-браузер</a><br> 
  			<a href="/tw/information-and-data/">Информация и данные</a><br>
        <a href="/tw/composite_unions/">Составные союзы</a><br>
  			<a href="/tw/required/">Требуемый</a><br> 
  			<a href="/tw/functional-functionality/">Функционал и фунциональность</a><br> 
  			<a href="/tw/this-given-similar/">Этот, данный и который</a><br> 
      </div>
<!--Конец столбца -->

<!--Начало столбца -->
      <div class="sm-col sm-col-12 md-col-6">
      <h4>Грамматика и пунктуация</h4>
			<a href="/tw/guotes-and-signs/">Кавычки и другие знаки препинания</a><br> 
 			<a href="/tw/zombies/">Страдательный залог и зомби</a><br> 
      </div>
<!--Конец столбца -->
    </div>
 <br>

   <div class="clearfix mt2">
<!--Начало столбца -->
      <div class="sm-col sm-col-12 md-col-6">
      <h4>Стиль</h4>
        <a href="/tw/highlight/">Выделение элементов в тексте</a><br> 
        <a href="/tw/headings/">Названия статей</a><br>
        <a href="/tw/dots-in-tables/">Точка в конце ячейки таблицы</a>
      </div>
<!--Конец столбца -->

   
<!--Начало столбца -->
      <div class="sm-col sm-col-12 md-col-6">
      	<h4>Разбор ошибок</h4>
  			<a href="/tw/use-the-switch/">Воспользуйтесь переключателем</a><br> 
  			<a href="/tw/input-devices/">Затруднения с вводом</a><br> 
 			<a href="/tw/pointing-device/">Координатно-указательное устройство</a><br>
      </div>
<!--Конец столбца -->
    </div>
 <br>
 
  <div class="clearfix mt2">
<!--Начало столбца -->
 <div class="sm-col sm-col-12 md-col-6">
      	<h4>Доп. материалы</h4>
  			<a href="/tw/books/">Книги и статьи</a> <br>
  			<a href="/tw/videos/">Конференции</a> <br>
  			<a href="/tw/examples/">Примеры</a> <br>
      </div>
<!--Конец столбца -->
    </div>
 <br>
</div>

 <!--- Sharing icons---->
{% if site.show_sharing_icons %}
    {% include share_buttons.html %}
{% endif %}
