---
layout: default-vui
title: Навыки для Алисы
permalink: /vui/
---

<div class=music>
  <span class=music_cover_container>
	<img src="/images/vui/wumpus.png" width="320" alt="Охота на Вампуса">
  </span>
  <div class=music_about>
   <span class=music_name>Охота на Вампуса</span>
   <span class=music_author>Непредсказуемая игра о разграблении пещер и выслеживании монстров. Входит в топ-50 навыков Алисы.</span>
    <span class=music_description>
    	<ul>
        <li><a href="https://dialogs.yandex.ru/store/skills/96f0d0b7-ohota-na-vampusa">Страница в каталоге Алисы</a></li>
        <li><a href="https://habr.com/ru/post/597815/">Обзор и детали разработки</a></li>
    	</ul>
   </span>
  </div>
</div>

<hr/>

 <!--- Sharing icons---->
{% if site.show_sharing_icons %}
    {% include share_buttons.html %}
{% endif %}
